* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} /* This is used to fix an specific width even when you add padding */


h2 {
    font-family: sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin: 0;
    padding: 15px 0 0 20px;
}
a {
    text-decoration: none;
    color: #9eb2c0;
}
a:hover {
    text-decoration: underline;
}

input[type=password]{
    border: solid 1px #dae4eb;
    margin: 5px 0 0 5px;
    padding-left: 10px;	
}
input[type=text]{
    border: solid 1px #dae4eb;
    margin: 5px 0 0 5px;
    padding-left: 10px;	
}
input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
    color: #dae4eb;
    font-weight: bold;
}
input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #dae4eb;
    font-weight: bold;
}
input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #dae4eb;
    font-weight: bold;
}
input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #dae4eb;
    font-weight: bold;
}



.container {
    background-color: #ffffff;
}

.bar {
    background-color: #2e3641;
    text-align: center;
}
.bar a {
    color: #c1cfd9;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    -ms-transition: background .2s ease-out;
    transition: background .2s ease-out;
}
.bar a:hover {
    text-decoration: none;
    background: #242B33;
}
.title-bar {
    height: 55px;
    text-align: left;
}
.more-bar {
    background-color: #c1cfd9;
    position: relative; /*To make absolute position in .scroll (Check "Recent Posts" and "Categories")*/
}
.btn {
    display: inline-block;
    line-height: 35px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: #2e3641; 
    color: #ffffff;
    text-align: center;
    cursor:pointer; 
    border-radius:5px; 
    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    -ms-transition: background .5s ease-out;
    transition: background .5s ease-out;
}
.btn:hover {
    text-decoration: none;
    background: #666661;
}

#left-container {
    width: 100%;
}


#tags {
    height: 300px;
    margin-top: 20px;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
    border:solid  1px black;
    border-radius:5px; 

}
#tags input[type=text],#tags input[type=password] ,#tags select {
    width: 250px;
    height: 35px;
}
#tags .btn {
    width: 80px;
    margin: 20px 0 0 5px;
}
.img_logo{
    margin-top:20%; 
}
#frm_set{
    background: white;
    border:solid  1px black;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
    height:200px;    
}                        
#tikva{
    position: absolute;
    bottom:10px; 
    right:5px; 
}